<a href="https://colab.research.google.com/github/adithyabaliga-sangamone/Story/blob/main/Upload_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
!wget https://raw.githubusercontent.com/datapackage-examples/sample-csv/master/sample.csv

--2021-06-14 09:32:24--  https://raw.githubusercontent.com/datapackage-examples/sample-csv/master/sample.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.110.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1311 (1.3K) [text/plain]
Saving to: ‘sample.csv’

sample.csv          100%[===================>]   1.28K  --.-KB/s    in 0s

2021-06-14 09:32:24 (79.9 MB/s) - ‘sample.csv’ saved [1311/1311]

In [4]:
!ls

sample.csv  sample_data

In [6]:
import pandas as pd
pd.read_csv('sample.csv').head()

      header 0     header 1     header 2  ...     header 7     header 8     header 9
0  row 1 col 0  row 1 col 1  row 1 col 2  ...  row 1 col 7  row 1 col 8  row 1 col 9
1  row 2 col 0  row 2 col 1  row 2 col 2  ...  row 2 col 7  row 2 col 8  row 2 col 9
2  row 3 col 0  row 3 col 1  row 3 col 2  ...  row 3 col 7  row 3 col 8  row 3 col 9
3  row 4 col 0  row 4 col 1  row 4 col 2  ...  row 4 col 7  row 4 col 8  row 4 col 9
4  row 5 col 0  row 5 col 1  row 5 col 2  ...  row 5 col 7  row 5 col 8  row 5 col 9

[5 rows x 10 columns]



```
# This is formatted as code
for items in list:
     print(item)
```

$$x1=\frac{-b+\sqrt{b^2-4ac}}{4ac}$$